<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit File</h2>
                <form action="/admin/edit-file/{{file._id}}" method="POST" enctype="multipart/form-data">
  
                    <label for="">Course</label>
                    <input type="text" name="Name" class="form-control" value="{{file.Name}}">
                    
                    

      <label for="sem">Semester</label>
  <select id="sem" name="Sem" style="width: 100%;" class="form-control">
     <option value="{{file.Sem}}">{{file.Sem}}</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
    
                    
                   
                    
                    <label for="">year</label>
                    <input type="text" name="Year" class="form-control" value="{{file.Year}}">
                    
                    <label for="">Question Papers</label><br>
                    
                    <label for="">Subject 1</label><br>
                    <td><a href="/file-pdf/{{file._id}}sub1.pdf" id="pdfView"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
                    <input type="file"  name="Pdf_sub1" class="form-control" onchange="viewPdf(event)"><br>

                    <label for="">Subject 2</label><br>
                    <td><a href="/file-pdf/{{file._id}}sub2.pdf" id="pdfView"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
                    <input type="file"  name="Pdf_sub2" class="form-control" onchange="viewPdf(event)"><br>

                    <label for="">Subject 3</label><br>
                    <td><a href="/file-pdf/{{file._id}}sub3.pdf" id="pdfView"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
                    <input type="file"  name="Pdf_sub3" class="form-control" onchange="viewPdf(event)"><br>

                    <label for="">Subject 4</label><br>
                    <td><a href="/file-pdf/{{file._id}}sub4.pdf" id="pdfView"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
                    <input type="file"  name="Pdf_sub4" class="form-control" onchange="viewPdf(event)"><br>

                    <label for="">Subject 5</label><br>
                    <td><a href="/file-pdf/{{file._id}}sub5.pdf" id="pdfView"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
                    <input type="file"  name="Pdf_sub5" class="form-control" onchange="viewPdf(event)"><br>

                    <label for="">Subject 6</label><br>
                    <td><a href="/file-pdf/{{file._id}}sub6.pdf" id="pdfView"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
                    <input type="file"  name="Pdf_sub6" class="form-control" onchange="viewPdf(event)"><br>

                    

                    <button class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>

</section>
<script>
    function viewPdf(event){
        document.getElementById('pdfView').href=URL.createObjectURL(event.target.files[0])
    }
</script>