<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit File</h2>
                <form action="/admin/edit-file/{{file._id}}" method="POST" enctype="multipart/form-data">
  
                    <label for="">Course</label>
                    <input type="text" name="Name" class="form-control" value="{{file.Name}}">
                    
                    <label for="">UG or PG</label>
                    <input type="text" name="Category" class="form-control" value="{{file.Category}}">
                    
                   
                    
                    <label for="">year</label>
                    <input type="text" name="Year" class="form-control" value="{{file.Year}}">

                    <label for="">Question Paper 1st Semester</label><br>
                    <td><a href="/file-pdf/{{file._id}}sem1.pdf" id="pdfView"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
                    <input type="file"  name="Pdf_sem1" class="form-control" onchange="viewPdf(event)"><br>
                    <label for="">Question Paper 2nd Semester</label><br>
                        <td><a href="/file-pdf/{{file._id}}sem2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
                     <input type="file"  name="Pdf_sem2" class="form-control"><br>
                     <label for="">Question Paper 3rd Semester</label><br>
                         <td><a href="/file-pdf/{{file._id}}sem3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>   
                      <input type="file"  name="Pdf_sem3" class="form-control"><br>
                      <label for="">Question Paper 4th Semester</label><br>
                        <td><a href="/file-pdf/{{file._id}}sem4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
                       <input type="file"  name="Pdf_sem4" class="form-control"><br>
                       <label for="">Question Paper 5th Semester</label><br>
                            <td><a href="/file-pdf/{{file._id}}sem5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
                        <input type="file"  name="Pdf_sem5" class="form-control"><br>
                        <label for="">Question Paper 6th Semester</label><br>
                            <td><a href="/file-pdf/{{file._id}}sem6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
                        <input type="file"  name="Pdf_sem6" class="form-control"><br>

                    <button class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>

</section>
<script>
    function viewPdf(event){
        document.getElementById('pdfView').href=URL.createObjectURL(event.target.files[0])
    }
</script>