

<section>
    <div class="container">
        <div class="row">
            <h2>Users From {{S_Course}}</h2>
            <div>
                <table class="table mt-5">
                <a style="float: right;" href="/admin/Delete-users?Course_Of_Users={{S_Course}}" class="btn btn-danger" onclick="return confirm('Are you what to Delete all Users of {{S_Course}}')">Delete All Users</a>
  <thead class="table-dark">
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Name</th>
      <th scope="col">Course</th>
      <th scope="col">Email</th>
      
    </tr>
  </thead>
  <tbody>
     {{!-- {{#each users}} --}}
     {{#each Selected_Course_Users}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      <td>{{this.cource}}</td>
      <td>{{this.Email}}</td>
     
    </tr>
   
    {{/each}}
    
  </tbody>
</table>
            </div>
        </div>
    </div>
</section>