

{{#if admindata}}
<section class="col-md-12">
  <div class="container">
    <div class="row mt-4">
      <a href="/admin/adminSignup" style="width: 10rem; margin-left: auto; margin-right: 5px;" class="btn btn-primary ">Add Admin</a>
      <a href="/admin/add-file" style="width: 10rem; " class="btn btn-success ">Add File</a>
    </div>
  </div>
    <div class="container">
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">UG/PG</th>
      <th scope="col">Course</th>
      
       <th scope="col">Year</th>
      <th scope="col">Semester</th>
      <th scope="col">subject Name</th>
      <th scope="col">PDF</th>
      
      
    </tr>
  </thead>
  <tbody>
      {{#each files}}

      {{#if this.Sem1Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Year}}</td>
      <td>{{this.Sem1}}</td>

      <td>{{this.Sem1Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}sem1sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      <td>
        <a href="/admin/edit-file/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete-file/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you what to Delete {{this.Name}}')">Delete</a>
      
      </td>
      
    
    </tr>
    {{/if}}
    {{#if this.Sem1Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem1}}</td>

      <td>{{this.Sem1Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}sem1sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem1Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem1}}</td>

      <td>{{this.Sem1Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}sem1sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem1Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem1}}</td>

      <td>{{this.Sem1Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}sem1sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem1Sub_name5}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem1}}</td>

      <td>{{this.Sem1Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}sem1sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem1Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem1}}</td>

      <td>{{this.Sem1Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}sem1sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    
    {{!-- sem 2 --}}
    {{#if this.Sem2Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Year}}</td>
      <td>{{this.Sem2}}</td>

      <td>{{this.Sem2Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}sem2sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      <td>
        
      </td>
      
    
    </tr>
  {{/if}}
  {{#if this.Sem2Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem2}}</td>

      <td>{{this.Sem2Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}sem2sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem2Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem2}}</td>

      <td>{{this.Sem2Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}sem2sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem2Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem2}}</td>

      <td>{{this.Sem2Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}sem2sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem2Sub_name5}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem2}}</td>

      <td>{{this.Sem2Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}sem2sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem2Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem2}}</td>

      <td>{{this.Sem2Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}sem2sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{!-- sem 3 --}}
    {{#if this.Sem3Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Year}}</td>
      <td>{{this.Sem3}}</td>

      <td>{{this.Sem3Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}sem3sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      <td>
       
      </td>
      
    
    </tr>
  {{/if}}
  {{#if this.Sem3Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem3}}</td>

      <td>{{this.Sem3Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}sem3sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem3Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem3}}</td>

      <td>{{this.Sem3Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}sem3sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem3Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem3}}</td>

      <td>{{this.Sem3Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}sem3sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem3Sub_name5}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem3}}</td>

      <td>{{this.Sem3Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}sem3sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem3Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem3}}</td>

      <td>{{this.Sem3Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}sem3sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{!-- sem4 --}}
    {{#if this.Sem4Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Year}}</td>
      <td>{{this.Sem4}}</td>

      <td>{{this.Sem4Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}sem4sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      <td>
       
      </td>
      
    
    </tr>
  {{/if}}
  {{#if this.Sem4Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem4}}</td>

      <td>{{this.Sem4Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}sem4sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem4Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem4}}</td>

      <td>{{this.Sem4Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}sem4sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
      
    </tr>
    {{/if}}
    {{#if this.Sem4Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem4}}</td>

      <td>{{this.Sem4Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}sem4sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem4Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem4}}</td>

      <td>{{this.Sem4Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}sem4sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem4Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem4}}</td>

      <td>{{this.Sem4Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}sem4sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{!-- sem5 --}}
    {{#if this.Sem5Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Year}}</td>
      <td>{{this.Sem5}}</td>

      <td>{{this.Sem5Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}sem5sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      <td>
        
      </td>
      
    
    </tr>
  {{/if}}
  {{#if this.Sem5Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem5}}</td>

      <td>{{this.Sem5Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}sem5sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem5Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem5}}</td>

      <td>{{this.Sem5Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}sem5sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem5Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem5}}</td>

      <td>{{this.Sem5Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}sem5sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem5Sub_name5}}

    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem5}}</td>

      <td>{{this.Sem5Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}sem5sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem5Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem5}}</td>

      <td>{{this.Sem5Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}sem5sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
  {{/if}}
    {{!-- sem6 --}}
    {{#if this.Sem6Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Year}}</td>
      <td>{{this.Sem6}}</td>

      <td>{{this.Sem6Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}sem6sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      <td>
        
      </td>
      
    
    </tr>
    {{/if}}
    {{#if this.Sem6Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem6}}</td>

      <td>{{this.Sem6Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}sem6sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem6Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem6}}</td>

      <td>{{this.Sem6Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}sem6sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem6Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem6}}</td>

      <td>{{this.Sem6Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}sem6sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem6Sub_name5}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem6}}</td>

      <td>{{this.Sem6Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}sem6sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Sem6Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem6}}</td>

      <td>{{this.Sem6Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}sem6sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{!-- {{/each}} --}}

    {{!-- Year2 --}}
    {{!-- {{#each files}} --}}

      {{#if this.Year2Sem1Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Year2}}</td>
      <td>{{this.Year2Sem1}}</td>

      <td>{{this.Year2Sem1Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem1sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      {{!-- <td>
        <a href="/admin/edit-file/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete-file/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you what to Delete {{this.Name}}')">Delete</a>
      
      </td> --}}
      
    
    </tr>
    {{/if}}
    {{#if this.Year2Sem1Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem1}}</td>

      <td>{{this.Year2Sem1Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem1sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem1Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem1}}</td>

      <td>{{this.Year2Sem1Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem1sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem1Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem1}}</td>

      <td>{{this.Year2Sem1Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem1sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem1Sub_name5}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem1}}</td>

      <td>{{this.Year2Sem1Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem1sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem1Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem1}}</td>

      <td>{{this.Year2Sem1Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem1sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    
    {{!-- sem 2 --}}
    {{#if this.Year2Sem2Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Year2Name}}</td>
      
      <td>{{this.Year2}}</td>
      <td>{{this.Year2Sem2}}</td>

      <td>{{this.Year2Sem2Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem2sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      <td>
        
      </td>
      
    
    </tr>
  {{/if}}
  {{#if this.Year2Sem2Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem2}}</td>

      <td>{{this.Year2Sem2Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem2sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem2Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem2}}</td>

      <td>{{this.Year2Sem2Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem2sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem2Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem2}}</td>

      <td>{{this.Year2Sem2Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem2sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem2Sub_name5}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem2}}</td>

      <td>{{this.Year2Sem2Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem2sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem2Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem2}}</td>

      <td>{{this.Year2Sem2Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem2sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{!-- sem 3 --}}
    {{#if this.Year2Sem3Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Year2}}</td>
      <td>{{this.Year2Sem3}}</td>

      <td>{{this.Year2Sem3Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem3sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      <td>
       
      </td>
      
    
    </tr>
  {{/if}}
  {{#if this.Year2Sem3Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem3}}</td>

      <td>{{this.Year2Sem3Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem3sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem3Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem3}}</td>

      <td>{{this.Year2Sem3Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem3sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem3Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem3}}</td>

      <td>{{this.Year2Sem3Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem3sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem3Sub_name5}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem3}}</td>

      <td>{{this.Year2Sem3Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem3sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem3Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem3}}</td>

      <td>{{this.Year2Sem3Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem3sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{!-- sem4 --}}
    {{#if this.Year2Sem4Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Year2}}</td>
      <td>{{this.Year2Sem4}}</td>

      <td>{{this.Year2Sem4Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem4sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      <td>
       
      </td>
      
    
    </tr>
  {{/if}}
  {{#if this.Year2Sem4Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem4}}</td>

      <td>{{this.Year2Sem4Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem4sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem4Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem4}}</td>

      <td>{{this.Year2Sem4Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem4sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
      
    </tr>
    {{/if}}
    {{#if this.Year2Sem4Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem4}}</td>

      <td>{{this.Year2Sem4Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem4sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem4Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem4}}</td>

      <td>{{this.Year2Sem4Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem4sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem4Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Sem4}}</td>

      <td>{{this.Year2Sem4Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem4sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{!-- sem5 --}}
    {{#if this.Year2Sem5Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Year2}}</td>
      <td>{{this.Year2Sem5}}</td>

      <td>{{this.Year2Sem5Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem5sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      <td>
        
      </td>
      
    
    </tr>
  {{/if}}
  {{#if this.Year2Sem5Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem5}}</td>

      <td>{{this.Year2Sem5Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem5sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem5Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem5}}</td>

      <td>{{this.Year2Sem5Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem5sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem5Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem5}}</td>

      <td>{{this.Year2Sem5Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem5sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem5Sub_name5}}

    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem5}}</td>

      <td>{{this.Year2Sem5Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem5sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem5Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem5}}</td>

      <td>{{this.Year2Sem5Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem5sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
  {{/if}}
    {{!-- sem6 --}}
    {{#if this.Year2Sem6Sub_name1}}
    <tr>
      <th scope="row">></th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Year2}}</td>
      <td>{{this.Year2Sem6}}</td>

      <td>{{this.Year2Sem6Sub_name1}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem6sub1.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       

      <td>
        
      </td>
      
    
    </tr>
    {{/if}}
    {{#if this.Year2Sem6Sub_name2}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem6}}</td>

      <td>{{this.Year2Sem6Sub_name2}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem6sub2.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem6Sub_name3}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem6}}</td>

      <td>{{this.Year2Sem6Sub_name3}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem6sub3.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem6Sub_name4}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem6}}</td>

      <td>{{this.Year2Sem6Sub_name4}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem6sub4.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem6Sub_name5}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem6}}</td>

      <td>{{this.Year2Sem6Sub_name5}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem6sub5.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{#if this.Year2Sem6Sub_name6}}
    <tr>
      <th scope="row">></th>
      <td></td>
      
      <td></td>
      <td>{{this.Year2Sem6}}</td>

      <td>{{this.Year2Sem6Sub_name6}}</td>
      <td><a href="/file-pdf/{{this._id}}Year2sem6sub6.pdf"><img style="width: 30px; height: 30px;" src="https://www.pngitem.com/pimgs/m/389-3891868_transparent-sun-burst-png-pdf-file-icon-png.png" alt=""></a></td>
       
       <td>
        
      </td>
    </tr>
    {{/if}}
    {{/each}}
   
  </tbody>
  
</table>


    </div>
</section>
{{else}}
<section>
  <div class="container">
     <h3 style="margin-top: 5em;">welcome To Admin page <br> Login to view more Options</h3>
<br>
      <a href="/admin/adminLogin" class="button">Login</a>
     
  </div>
</section>
{{/if}}