<section>
  <div class="conatiner mt-5">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>SELECT YOUR SEMESTER</h2>
        <hr class="hrLine">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="tabbed">
    <div class="content">
      
        <ul class="flex-container">
            <a href="/download/{{file._id}}" id="aTag"><li class="flex-item">Semester 1</li></a>
             <a href="/downloadSem2/{{file._id}}" id="aTag"><li class="flex-item">Semester 2</li></a>
            <a href="/downloadSem3/{{file._id}}" id="aTag"><li class="flex-item">Semester 3</li></a>
            <a href="/downloadSem4/{{file._id}}" id="aTag"> <li class="flex-item">Semester 4</li></a>
            <a href="/downloadSem5/{{file._id}}" id="aTag"><li class="flex-item">Semester 5</li></a>
            <a href="/downloadSem6/{{file._id}}" id="aTag"> <li class="flex-item">Semester 6</li></a>
           
           </ul>
    </div>
  </div>
  </div>
</section>

